{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% block title %}
News
{% endblock title %}

{% block content %}
<table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Дата публикации
                </td>
                <td>
                    Текст
                </td>
            </tr>
    <tr>
                <td>
                    {{post.article|censor}}
                </td>
                <td>
                    {{post.public_time|date:'d-m-y H:i'}}
                </td>
                <td>
                    {{post.text|censor}}
                </td>
            </tr>
</table>
{% endblock content %}