{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
<h1>Все новости</h1>
<h3>Новостей {{posts|length}}</h3>
{% if posts %}
        <table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Дата публикации
                </td>
                <td>
                    Текст
                </td>
            </tr>
            {% for post in posts %}
            <tr>
                <td>
                    {{post.article|censor}}
                </td>
                <td>
                    {{post.public_time|date:'d.m.y'}}
                </td>
                <td>
                    {{post.text|truncatewords:50|censor}}
                </td>
            </tr>
            {% endfor %}
        </table>
{% else %}
<h2>Новостей нет!</h2>
{% endif %}
{% endblock content %}